.token-presentation {
    display: flex;
    align-items: center;
    padding-left: 2.3rem;
    font-size: 1rem;
}
  
.token-presentation img{
    width: 3rem;
    border-radius: 50%;
    padding: 0.8rem 0;
}

.token-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0.8rem;
}

.symbol {
    color: #a399ba;
    font-size: 0.8rem;
}

.light-symbol {
    color : #7a6eaa;
    font-size: 0.8rem;
}

.item {
    display: flex;
    flex-direction: column;
}
.type {
    font-size: 0.8rem;
  }

@media (max-width: 530px) {
    .token-presentation {
        padding-left: 2vw;
        font-size: 3vw;
    }
      
    .token-presentation img{
        width: 6vw;
        padding: 2.4vw 0;
    }
    
    .token-name {
        padding-left: 1vw;
    }
    
    .symbol {
        color: #a399ba;
        font-size: 2.4vw;
    }
    
    .light-symbol {
        color : #7a6eaa;
        font-size: 2.4vw;
    }
    .type {
        font-size: 2.5vw;
      }
}
