.title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container p{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 1rem;
}

.container input {
	border-radius: 10px;
	  width: 40%;
      margin-left: auto;
      margin-right: auto;
	  margin-top  : 0.8rem;
      margin-bottom: 0.8rem;
	  border:none;
	  height: 3rem;
	  font-family: 'Noto Sans JP', sans-serif;
	  font-size: 2.5rem;
	  background-color: transparent;
	  text-align: center;
	  outline: none;
  }


.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container button{
    width: 30%;
    height: 50px;
    margin: 2rem;
    font-size: 20px;
}


.invalid {
    color: red;
}

@media (max-width: 530px) {
    .title {
        font-size: 4.5vw;
        margin-bottom: 1vw;
        margin-top: 1vw;
    }
    .container p{
        font-size: 4vw;
        margin-top: 1vw;
    }
    
    .container input {
        margin-top  : 2.4vw;
        margin-bottom: 2.4vw;
        border:none;
        height: 3vw;
        font-size: 5vw;
      }
    .buttons-container button{
        width: 30%;
        height: 7vw;
        margin: 2vw;
        font-size: 3vw;
    }
  }