.container {
    margin-top: 1rem;
    border-radius: 50px;
    border: 2px solid #e7e3eb;
    background-color: #f5f3f5;
}

.dark-mode {
    border: 2px solid #383241;
    background-color: #1e1d20;
}

/* Sorting */

.sorting-container {
  display: flex;
  flex-direction: column;
  padding-left: 80%;
  margin-top: 2.3rem;
  height: 5rem;
  max-width: 90rem;
}

.sorting-container * {
  color: #eae5f5;
}

.light-theme * {
  color : #524589;
}

.sorting-container label{
  font-size: 0.8rem;
  padding-left: 1rem;
}

.sorting-container ul{
  width: 12.5rem;
  border-radius: 20px;
  background-color: #372f47;
  border: none;
  box-shadow: rgb(74 74 104 / 10%) 0px 2px 2px -1px inset;
  list-style: none;
  position: absolute;
  top: 130px;
}

.light-theme ul {
  background-color: #eeeaf4;
  border: 1px solid #d7caec;
}

.sorting-container ul:hover {
  background-color: #644275;
  -webkit-transition-duration: 200ms;
}

.light-theme ul:hover {
  background-color: #f5f3f5;
  -webkit-transition-duration: 200ms;
}

.sorting-container ul:hover .arrow {
  background-color: #644275;
  -webkit-transition-duration: 200ms;
}

.light-theme ul:hover .arrow {
  background-color: #f5f3f5;
  -webkit-transition-duration: 200ms;
}

.selected-sort {
  padding: 0.8rem 0;
  cursor: pointer;
  font-weight: bold;
}

.active-sort {
  border-bottom: 1px solid #000000;
  margin-bottom: 0.2rem; 
}

.sort-choices li {
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.select {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.select div{
  margin-left: auto;
}

.arrow {
  background:#372f47;
  width:13px;
  height:13px;
  transform: rotate(135deg);
  border-top: 3px solid #eae5f5;
  border-right: 3px solid #eae5f5;
}

.light-arrow {
  background: #eeeaf4;
  border-top: 3px solid #524589;
  border-right: 3px solid #524589; 

}

.sorting-direction-container {
display: flex;
width: 240px;
align-items: center;
}

.sorting-direction {
width: 2rem;
margin-left: auto;
margin-top: 0.8rem;
cursor: pointer;
}


/* Scrolling */

.scroll-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
  gap: 0.7rem;
}

.scroll-top-container * {
  cursor: pointer;
}

.scroll-top-container:hover label {
  color:#6de9f2;
}

.scroll-top-container:hover .scroll-top-arrow {
  border:none;
  border-radius: 0;
  border-top: 3px solid #1FC7D4;
  border-right: 3px solid #1FC7D4;
  border-color: #6de9f2;
  transform: rotate(-45deg);
}

.scroll-top-container label {
  font-family: inherit;
  color: #1FC7D4;
  font-size: 1.2rem;
  font-weight: bold;

}

.scroll-top-arrow {
  width:13px;
  height:13px;
  transform: rotate(-225deg);
  border: 3px solid #1FC7D4;
  border-radius: 50%;
  margin-top: 0.2rem;
  -webkit-transition-duration: 300ms;
}