.buttons-container {
    display: flex;
    justify-content: center;
}

.buttons-container button{
    width: 30%;
    height: 50px;
    margin: 2rem;
    font-size: 20px;
}

@media (max-width: 530px) {
    .buttons-container button{
        width: 30%;
        height: 7vw;
        margin: 4vw;
        font-size: 3vw;
    }
  }