.token-symbol-button {
    padding: 0;
    border: none;
    background: white;
    padding: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius:50%;
    width:6rem;
    height:6rem;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

  
    .token-symbol-button:hover,
    .token-symbol-button:active {
    border-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.token-symbol-img {
    margin-top: 0.2rem;
    margin-left: 0.05rem;
    width: 70%;
    height: 70%;
    background-color: white;
    border-radius: 50%;
}

.dark-mode {
    background-color: rgb(138, 190, 221);
}

.dark-mode img{
    background-color: transparent;
}