.header {
    display: flex;
   
}

.header h1 {
    flex-grow: 2;
    margin-left: 20%;
    margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    padding-bottom: 2rem;
}

.header img {
    margin: 1.5rem;
    margin-top: 2.5rem;
}
