.cancelation-button {
    font: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    cursor: pointer;
    color: #F4EEFF;
    font-size: 1rem;
    border: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 23%);
    background-color: #b4392e;
    width: 70%;
    margin-left: 12%;
    margin-right: auto;
}

@media (max-width: 530px) {
    .cancelation-button {
        padding: 1vw 0;
        font-size: 2vw;
        border-radius: 4vw;
        width: 95%;
        margin-left: auto;
        margin-right: 5%
    }
  }