.validation-button {
    font: inherit;
    padding: 0.4rem 0rem;
    border-radius: 20px;
    cursor: pointer;
    color: #F4EEFF;
    font-size: 1rem;
    border:none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 23%);
    background-color: #45b29d;
    width: 70%;
    margin-left: 12%;
    margin-right: auto;
  }
  
  .validation-button:hover,
  .validation-button:active {
    background-color: #51c564;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  }

  .dark-mode {
    background-color: #0E6E9D;
    color: #F4EEFF;
  }

  .dark-mode:hover,
  .dark-mode:active {
    background-color: #3aace1;
    border-color: #817395;
  }

  @media (max-width: 530px) {
    .validation-button {
      padding: 1vw 0vw;
      font-size: 2vw;
      border-radius: 4vw;
      width: 95%;
      margin-left: auto;
      margin-right: 5%
    }
  }