.token-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(231, 227, 235);
  padding: 0.5rem 0;
}

.dark-theme {
  border-bottom: 2px solid #383241;
}

.first {
  border-top: 2px solid rgb(231, 227, 235);
}

.first-light {
  border-top: 2px solid #383241;
}

.token-container div {
  text-align: center;
  font-size: 1rem;
  width: 20%;
  color: #524589;
}

.dark-theme div {
  color: #F4EEFF;
}

.buttons-container {
    display:flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0.5rem 0rem;
}